/* CSS PER LA SIDEBAR */
/* .sidebar {
  background-color: #000000;
  height: 100vh;
  padding: 20px 15px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  overflow-y: auto;
} */

.sidebar a {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #b3b3b3;
  text-decoration: none;
  padding: 8px 0;
  font-size: 15px;
}

.sidebar a:hover {
  color: white;
}

.sidebar .section-title {
  margin-top: 25px;
  font-size: 13px;
  text-transform: uppercase;
  color: #888;
}

/*NAVBAR*/
.topbar {
  position: sticky;
  top: 0;
  background-color: #121212;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  z-index: 10;
}

.topbar i {
  position: sticky;
  top: 0;
  background-color: #121212;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  z-index: 10;
  border-bottom: 1px solid #222;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
}

/* classi per arrotondare le immagini */
.rounded-top-left {
  border-top-left-radius: 0.5rem;
}

.rounded-bottom-left {
  border-bottom-left-radius: 0.5rem;
}

body {
  padding-bottom: 80px;
}

/* CSS PER IL PLAYER */
.cover-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.progress-bar {
  accent-color: #1db954;
  /* verde Spotify */
}

.volume-bar {
  width: 100px;
  accent-color: #1db954;
}

/* NAV MOBILE */
#spotify-bar-bottom {
  height: 60px;
}

/* colonna di destra SEZIONE AMICI */
#sezione-amici span {
  font-size: 12px;
}

#sezione-amici p {
  font-size: 16px;
}

/* sezione "altro di cio che ti piace" */
#like-cont a {
  font-size: 10px;
}

.colonnaCentraleDesktop {
  background: linear-gradient(to bottom,
      #2b2b2b 0%,
      #1a1a1a 20%,
      #0f0f0f 35%,
      #1a1a1a 60%,
      #1e1e1e 100%);
}

.colonnaCentraleDesktop {
  background: linear-gradient(to bottom,
      #2b2b2b 0%,
      #1a1a1a 20%,
      #0f0f0f 35%,
      #1a1a1a 60%,
      #1e1e1e 100%);
}

.playerDesktop {
  background-color: #181818;
}

#shuffleVerde {
  color: #20d760;
}

#repeatVerde {
  color: #20d760;
}